USE [CMPI]
GO
/****** Object:  Table [dbo].[Provinces]    Script Date: 7/9/2017 3:09:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provinces](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.Provinces] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[Provinces] ([Id], [Name]) VALUES (1, N'ADANA                         ')
INSERT [dbo].[Provinces] ([Id], [Name]) VALUES (2, N'ADIYAMAN                      ')
INSERT [dbo].[Provinces] ([Id], [Name]) VALUES (3, N'AFYONKARAHİSAR                ')
