USE [CMPI]
GO
/****** Object:  Table [dbo].[Districts]    Script Date: 7/9/2017 3:09:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Districts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[ProvinceId] [int] NOT NULL,
 CONSTRAINT [PK_Districts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Districts] ON 

INSERT [dbo].[Districts] ([Id], [Name], [ProvinceId]) VALUES (1, N'ALADAĞ                        ', 1)
INSERT [dbo].[Districts] ([Id], [Name], [ProvinceId]) VALUES (2, N'CEYHAN                        ', 1)
INSERT [dbo].[Districts] ([Id], [Name], [ProvinceId]) VALUES (3, N'ÇUKUROVA                      ', 1)
GO
SET IDENTITY_INSERT [dbo].[Districts] OFF
ALTER TABLE [dbo].[Districts]  WITH CHECK ADD  CONSTRAINT [FK_Districts_Provinces] FOREIGN KEY([ProvinceId])
REFERENCES [dbo].[Provinces] ([Id])
GO
ALTER TABLE [dbo].[Districts] CHECK CONSTRAINT [FK_Districts_Provinces]
GO
